@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

body{
    background-color: #84B295;
    background-image: url("./img/fundo.png");
}

::-webkit-scrollbar {
    display: none;
}

#title img{
    height: 80px;
    border: 2px solid #594747;
    border-radius: 10px;
}

div #title{
    margin-top: 40px;
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    margin-left: 40%;
}


.container{
    margin-top: 75px;
    height: auto;
    background: #EB7072;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #FF5252;
    position: relative;
    text-align: center;
    z-index: 1;
    padding-top: 6px;
    padding-bottom: 6px;
}

.papel{
    width: 90vw;
    min-height: 78vh;
    max-height: auto;
    background: #FEFFD6;
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #B3A176;
    position: relative;
    z-index: 1;
    padding-top: 50px;
}

.box{
    width: 300px;
    min-height: 390px;
    max-height: auto;
    background: #ECCF8D;
    border: 2px solid #B3A176;
    border-radius: 10px;
    display: inline-block;
    padding-top: 10px;
    font-size: 15px;
    margin: 3%;

}

.text{
    background-color: #E3E1B1;
    border-radius: 10px;
    font-family: 'Gochi Hand', cursive;
    color: #322f3e;
    width: 200px;
    min-height: 40px;
    max-width: auto;
    display: block;
    text-align: center;
    margin-left: 15%;
    padding: 5px;
    overflow-wrap:break-word

}

h5{
    font-family: 'Gochi Hand', cursive;
    font-size: 30px;
    color: #1C232E;
}

p{
    font-family: 'Gochi Hand', cursive;
    font-size: 30px;
}

.text p{
    font-size: 15px;
}

.box img{
    width: 50px;
    margin-left: 10px;
    padding-left: 10px;
}


a img{
    width: 100px;
}
