@model IEnumerable<ToDoList.Models.Lista>


@{
    ViewData["Title"] = "To do List";
    <link rel="stylesheet" href="~/css/Index.css" />
}

@section Scripts{
    <script src="~/js/index.js"></script>
}
<div>
    <div id="title">
        <img src="~/css/img/title.png" alt="...">
    </div>

    <div class="container">
        <div class="papel">
            @if(Model.Count() == 0)
            {
                <p>Crie sua lista de tarefas e facilite sua organização!</p><br><br>
                <br><br><br><a href="/Lista/CreateList"><img src="~/css/img/botaocriar.png" alt="..."></a>
            }
            else
            {
                <a href="/Lista/CreateList"><img src="~/css/img/botaocriar.png" alt="..."></a><br>

                @foreach(var lista in Model){
                    <div class="box">
                        <div>
                            <h5>@lista.Title<a href="/Lista/Show/@lista.Id"><img src="~/css/img/ver-detalhes.png"></a></h5>
                            <div class="text">
                                <p>@lista.Description</p>
                            </div>
                        </div>

                        
                        <ul id=@lista.Id data-parent-id=@lista.Id>
                            <form>
                                <input type="text" placeholder="Nova tarefa">
                                <button type="button" onclick="addTask(event)">+</button>
                            </form>
                        </ul>
                    </div>
                }        
            }   
        </div>
    </div>
</div>
