@model IEnumerable<ToDoList.Models.Lista>


@{
    ViewData["Title"] = "To do List";
    <link rel="stylesheet" href="~/css/Index.css" />
}

<div>
    <div id="title">
        <img src="./css/img/title.png" alt="...">
    </div>

    <div class="container">
        <div class="papel">
            <p>Crie sua lista de tarefas e facilite sua organização!</p><br><br>
            @if(Model.Count() == 0)
            {
                <br><br><br><a href="/Lista/CreateList"><img src="./css/img/botaocriar.png" alt="..."></a>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>TABELA</th>
                            <th>DESCRIÇÃO</th>
                            <th colspan="4"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var lista in Model){
                            <tr>
                                <td>@lista.Title</td>
                                <td>@lista.Description</td>
                                <td></td>
                                <td>
                                    <a href="/Lista/Show/@lista.Id" class="btn btn-outline-dark">Detalhes</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tr>
                        <td colspan="4"><center><a href="/Lista/CreateList" class="btn btn-outline-dark">Cadastrar</a></center></td>
                    </tr>
                </table>
            }   
        </div>
    </div>
</div>


