/* _content/ToDoList/Views/Shared/_Layout.cshtml.rz.scp.css */
footer[b-dt7ithozdg]{
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  background-color: #6e9987;
  color: #000000;
  font-family: cursive;
  font-size:15px;
}
