@{
    ViewData["Title"] = "Criar lista";
    <link rel="stylesheet" href="~/css/CreateList.css" />
}   


<h1>@ViewData["Title"]</h1>

<div class="background">
    <form action="/Lista/Add" method="post">
    <center>
            <label for="title">Título:</label><br>
            <input type="text" name="title" id="title" required><br><br>

            <label for="description">Descrição:</label><br>
            <input type="text" name="description" id="description" required><br><br>
        <input type="submit" class="btn btn-primary btn-sm btn-success" value="Criar"><br><br>
    </center>
    </form>

    <a href="/Lista/Index" class="btn btn-outline-dark">Voltar</a>

</div>