@{
    ViewData["Title"] = "Criar lista";
    <link rel="stylesheet" href="~/css/CreateList.css" />
}   


<div>
    <div id="titleg">
        <img src="~/css/img/title.png" alt="...">
    </div>
    <div class="container">
        <div class="papel">
            <p>Crie sua lista de tarefas!</p>
            <div class="form">
                <form action="/Lista/Add" method="post">
                    
                    <label for="title">Título:</label><br>
                    <input type="text" name="title" id="title" required><br><br>

                    <label for="description">Descrição:</label><br>
                    <textarea name="description" cols="23" rows="4" id="description" required></textarea><br>

                    <input type="submit" value="Criar" id="btn">
                </form>
            </div>

            @if(TempData["MessageError"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
                    @TempData["MessageError"]<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            
            <a href="/Lista/Index"><img src="~/css/img/botaovoltar.png" alt="..."></a>
        </div>
    </div>
</div>
