@model ToDoList.Models.Lista

@{
    ViewData["Title"] = $"Lista {Model.Title}";
    <link rel="stylesheet" href="~/css/Show.css" />
}

<div>
    <div id="titleg">
        <img src="~/css/img/title.png" alt="...">
    </div>
    <div class="container">
        <div class="papel">
            <p><b><h1>@ViewData["Title"]</h1></b></p><br>
            <div class="box">
                <p>Título</p>
                    <div class="text">
                        <p>@Model.Title</p>
                    </div>

                <br>

                <p>Descrição</p>
                    <div class="text" id="description">
                        <p>@Model.Description</p>
                    </div>
                
                
                <a href="/Lista/Delete/@Model.Id" class="btn" id="delete">Deletar</a>
                <a href="/Lista/Update/@Model.Id" class="btn" id="att">Editar</a><br><br>
            </div>
        <a href="/Lista/Index"><img src="~/css/img/botaovoltar.png" alt="..."></a>
        </div>
    </div>
</div>
