@model ToDoList.Models.Lista

@{

    <link rel="stylesheet" href="~/css/CreateList.css" />
}



<div>
    <div id="titleg">
        <img src="~/css/img/title.png" alt="...">
    </div>
    <div class="container">
        <div class="papel">
            <p>Edite a lista de tarefas @Model.Title</p>

            <div class="form">
                <form action="/Lista/Save/@Model.Id" method="post">
                <label for="title">Título:</label><br>
                <input type="text" name="title" placeholder="@Model.Title" id="title" required><br><br>
            
                <label for="description">Descrição:</label><br>
                <textarea name="description" placeholder="@Model.Description" cols="23" rows="4" id="description" required></textarea><br>

                <input type="submit" value="Atualizar" id="btn"><br><br>
            </form>
            </div>

            @if(TempData["MessageError"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
                    @TempData["MessageError"]<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            <a href="/Lista/Show/@Model.Id"><img src="~/css/img/botaovoltar.png" alt="..."></a>
        </div>
    </div>
</div>
